@page
@model CryptoGRAPHic.Pages.IndexModel
@{
    ViewData["Title"] = "CryptoGRAPHic";
}

<h1>Bitcoin Price Forecast</h1>

<div style="display: flex; justify-content: space-between; margin-left: 0%; margin-right: 0%;">
    <span style="font-size: 14px; color: rgba(255, 99, 132, 1);">[Actual Prices]</span>
    <span style="font-size: 14px; color: rgba(75, 192, 192, 1);">[Predicted Prices]</span>
</div>

<canvas id="cryptoChart" style="width: 100%; height: 400px;"></canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
    <script src="~/js/cryptoChart.js"></script>
}